* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

/*
html { 
    background: url(images/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  */
  /*
  /////////////////////////////////////////////////////////////////////////////////////////////
  */
  header {
    background: #3B5998;
    padding: 15px;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 12px;
    font-weight: 300;
}
header .fas {
    color: white;
    font-size: 14px;
}

header .logo-area {
    color: white;
    display: inline-block;
    width: 20%;
    margin-left: -4px;

 
}

header .logo-area a {
    color: white;
    text-decoration: none; 
    font-size: 20px; 

}

header .menu {
    display: inline-block;
    width: 20%;
    margin-left: -4px;
    border-right: 1px solid rgba(255,255,255, .3);
    text-align: right;
    padding-right: 20px; 
}

header .menu ul li {
    display: inline-block;
}

header .menu  ul li a {
    margin-right: 20px;
}
header .icon-links { 
    display: inline-block;
    margin-left: -4px;
    width: 20%;
    padding-left: 20px;

}

header .icon-links ul li {
     display: inline-block;
     margin-right: 10px; 
}

header .icon-links .quick-options{
    display: inline-block;
    margin-left: -4px;
    border-right: 1px solid rgba(255,255,255, .3);
    padding-left: 20px;
    padding-right: 20px; 

}

header .icon-links .privacy {
    display: inline-block;
    margin-left: -4px;
    padding-left: 20px;


}

header .search-area {
    margin-left: -4px;
    display: inline-block;
    width: 40%;
    text-align: right;
}

header .search-area ul li {
    display: inline-block;
}
/*
/////////////////////////////////////////////////////////////////////////////////////////////
*/

#top-area {
    padding: 200px 15px 90px 15px; 
}

#top-area .profile-info .user-img {
    padding: 10px;
    display: inline-block;  
}

#top-area .profile-info .user-img img {
    border-radius: 50%;
}

#top-area .profile-info .user-details {
    display: inline-block;
}